.item {
    min-height: 174px;
    padding: 5px;
    background-color: whitesmoke;
}

.item_content_table button {
    background-color: darkgray;
}

table {
    width: 100%;
    border-spacing: 0;
    border-spacing: 0px 3px;
    background-color: whitesmoke;
}

.item_content_table {
    padding: 5px;
    height: 100%;
}

table tr:nth-child(1) {
    height: 100%;
}

table td:nth-child(1) {
	width: 65px;
}

tr {
    vertical-align: top;
}

td { 
    padding: 0;
    margin: 0;
}

.item_content {
    background-color: rgba(245, 245, 245, 0.664);
}

.text {
    margin: 0;
    word-break: break-all;
}

.border {
    border: solid 1px gray;
}

.modal_window {
    width: 60%;
    margin: 0px auto;
}

.modal_window textarea {
    width: 350px;
    height: 100px;
    margin-top: 7px;
}